<div class="slider-filter">
  <div class="slider-buttons">
    <a href="#" class="prev"> < </a>
    <a href="#" class="counter">/</a>
    <a href="#" class="next"> > </a>
  </div>
</div>
<div class="slides-wrapper">
  <div class="slides"></div>
</div>