<li class="template-download">
  <span class="name"><%= attr('binaryFileName') %></span>
  <span class="size"><%= formatFileSize(attr('binaryFileSize')) %></span>
  <a class="delete" <%= plugin('button',{text: false, icons: {primary: 'ui-icon-cancel'}})%> >supprimer</a>
</li>