<div>
  <form>
    <label>name</label><input name="myTest[name]" value="<%= attr('name') %>"/><br/>
    <label>value</label><input name="myTest[value]" value="<%= attr('value') %>"/>
    <button type="button" class="cancel">Annuler</button>
    <button type="submit">Valider</button>
  </form>
</div>